@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #e5e1d1;
    --color-background: #101419;
    --color-dark: rgba(0, 0, 0, 0.7);
}

body {
    @apply bg-background;
    @apply text-primary;
}

@layer utilities {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        @apply appearance-none;
    }
}
